{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.Titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ livre.Description }}</td>
            </tr>
            <tr>
                <th>Date_de_parution</th>
                <td>{{ livre.DateDeParution ? livre.DateDeParution|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dashboard') }}">back to list</a>


<h2>Avis :</h2>
    <ul>
        {% for avi in avis %}
            <li>
                <strong>{{ avi.getNomUser().getEmail() }}</strong> - Note: {{ avi.note }}/5 - {{ avi.commentaire }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
